@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.english-language{direction: ltr; text-align: left; font-family: "Nunito Sans", sans-serif;}
.english-language .theme-swich-login, .english-language .topbar-icons{text-align: right;}
.english-language .language-swich-login label{margin-right: 0px; margin-left: 6px;}
.english-language .theme-swich-login label{margin-left: 0px; margin-right: 6px;}
.english-language .language-swich-login .language-swich-circle img{height: 20px; position: relative; margin-top: -6px;}
.english-language .theme-swich-login .language-swich-circle img{position: relative; margin-top: -6px;}
.english-language #topcontrol{left: auto; right: 5px !important;}
.english-language .close-icon{left: auto; right: 0px;}
.english-language .login-back-btn i{transform: rotate(180deg);}
.english-language .iti--separate-dial-code input[type=tel]{float: right; text-align: left; padding-left: 10px !important;}
.english-language .iti__country-list, .english-language .profile-dropdown{text-align: left;}
.english-language .register-terms{padding-right: 0px; padding-left: 35px;}
.english-language .terms-register{right: auto; left: 0px;}
.english-language select{direction: ltr; text-align: left;}
.english-language .select2-container--default .select2-selection--single .select2-selection__arrow{left: auto; right: 10px;}
.english-language .profile-point{padding: 2px; padding-right: 10px;}
.english-language #menu-wrapper{float: right;}
.english-language .my-course-btn button img{left: auto; right: 4px;}
.english-language .my-course-btn{left: auto; right: 35%;}
.english-language .avatar-indicators:before{right: auto; left: 5%;}
.english-language .dropdown-menu .text-right{text-align: left !important;}
.english-language .dropdown-menu .mr-3{margin-right:0; margin-left: 1rem;}
.english-language .profile-dropdown li i{padding-left: 0px; padding-right: 8px;}
.english-language .sidebar{left: auto; right: 0;}
.english-language .sidebar-closed{-webkit-transform: translateX(100%);-ms-transform: translateX(100%);transform: translateX(100%);}
.english-language .switches-container, .english-language .bookmark-content i{left: auto; right: 0;}
.english-language .switches-container input:nth-of-type(2):checked~.switch-wrapper {transform: translateX(100%);}
.english-language .sidebar li{padding-right: 0px;padding-left: 50px;}
.english-language .menu-icon{right: auto; left: 0px; line-height: 40px;}
.english-language .request-private h1, .english-language .request-private-box button{margin-right: 0px; margin-left: 60px;}
.english-language .show-all, .english-language .liveClassnotification i{left: auto; right: 15px;}
.english-language .live-course-box-img .subscribed-icon, .english-language .prerecorded-box-img .subscribed-icon{left: auto; right: 10px;}
.english-language .story-close-icon{left: auto; right: 10px;}
.english-language .story-dp{padding-right: 0px; padding-left: 70px;}
.english-language .story-dp img{right: auto; left: 0px;}
.english-language .video-continue-close{left: auto; right: 8px;}
.english-language .video-continue-box{padding-left: 170px; padding-right: 60px;}
.english-language .video-continue-play, .english-language .reserved-class-box-content ul button,
.english-language .new-message, .english-language .cart-page i{left: auto; right: 0px;}
.english-language .video-continue-box_img, .english-language .icon-level{right: auto; left: 0px;}
.english-language .my-profile-edit, .english-language .profile-info-icon{left: auto; right: 15px;}
.english-language .level-box{direction: rtl;}
.english-language .profile-details .point-box{margin-left: 0px; margin-right: 10px;}
.english-language .student-grade h6, .english-language .profile-relative-videos-content h6 span{float: right;}
.english-language .personal-details{padding: 10px; padding-left: 50px;}
.english-language .personal-details img{right: auto; left: 10px;}
.english-language .membership-card h6::after{left: auto; right: 15px;}
.english-language .related-videos h5{float: left;}
.english-language .profile-relative-videos-content img{transform: rotate(180deg);}
.english-language .profile-relative-videos-content p span{margin-left: 5px;}
.english-language .liveclass-category .live-course-box-content h4 span{margin-left: 5px;}
.english-language .live-class-collapse, .english-language .topic-box-attach{left: auto; right: 20px;}
.english-language .survey-form{text-align: left !important;}
.english-language .survey-close, .english-language .topic-box-subject{left: auto; right: 10px;}
.english-language .audio-record audio{margin-right: 0px; margin-left: 10px;}
.english-language .text-right{text-align: left !important;}
.english-language .topic-box p{padding-left: 0px; padding-right: 110px;}
.english-language .topic-box-question h5 i, .english-language .topic-box-reply h5 i{margin-left: 0px; margin-right: 5px;}
.english-language .checkout-radio{float: left; margin-left: 0px; margin-right: 15px;}
.english-language .card-details .form-group i{left: auto; right: 20px;}
.english-language .select-grade .form-group, .english-language .my-cart h6, .english-language .my-cart h1{text-align: left !important;}
.english-language .my-cart .offer{left: auto; right: 27%;}
.english-language .my-cart .form-group i{left: auto; right: 23%;}
.english-language .my-cart h6 span, .english-language .my-cart h1 span{float: right;}
.english-language .cart-item-price{left: auto; right: 8px;}
.english-language .timeline-filter{text-align: left !important;}
.english-language .timeline-filter i{left: auto; right: 20px;}
.english-language .contact-info-list .ml-3{margin-left: 0 !important; margin-right: 1rem !important;}
.english-language .contact-info-list li .contact-icon span.fa-phone{transform: rotateY(180deg);}
.english-language .back-btn, .english-language .live-course-sideBox-content ul li img{right: auto; left: 0px;}
.english-language .back-btn i{transform: rotateY(180deg);}
.english-language .live-course-sideBox ul li{padding-right: 0px; padding-left: 30px;}
.english-language .panel-heading a:before{left: auto; right: 10px;}
.english-language .price-pop .close, .english-language .sampleVideo-pop .close{left: auto; right: 10px;}
.english-language .price-popup-radio.highlight::before{right: auto; left: 10px;}
.english-language .popup-notes-text{text-align: left;}
.english-language .price-pop u{float: right;}
.english-language .price-pop u.privacy{float: left;}
.english-language .video-rating, .english-language .video-comment-field{margin-left: 0px; margin-right: 20px;}
.english-language .video-comment-sendBtn{line-height: 46px;}
.english-language .video-comment-sendBtn img{transform: rotateY(180deg);}
.english-language .rating-video, .rating-video > label{float: right;}
.english-language .video-rating label span{margin-left: 0px; margin-right: 8px;}
.english-language .video-comment-field{width: 60%;}
.english-language .video-play-list ul li{padding-left: 80px; padding-right: 50px;}
.english-language .video-number, .english-language .home-work-score{right: auto; left: 0px;}
.english-language .completed-icon, .english-language .play-icon,
.english-language .video-play-list .c100.small{left: auto; right: 0px;}
.english-language .home-work-box-content{padding-right: 0px; padding-left: 100px;}
.english-language .home-work-download{float: left;}
.english-language .leaderboard-box h5{float: right; padding-right: 15px;}
.english-language .leaderboard-box h4{padding-left: 10px; padding-right: 20px;}
.english-language .leaderboard-box-img img{margin-left: 0px; margin-right: 20px;}
.english-language .leaderboard-box-img{padding-right: 0px; padding-left: 20px; border: none; border-left: 1px solid var(--primary-colour);}
.english-language .live-course-box .join, .english-language .request-box button{left: auto; right: 15px;}
.english-language .request-box p{direction: rtl;}
.english-language .request-box .file{margin-right: 0px; margin-left: 10px;}
.english-language .toggle-password{left: auto; right: 15px;}
.english-language .quiz-list{padding-right: 10px; padding-left: 100px;}
.english-language .quiz-subject p span{margin-left: 0px; margin-right: 10px;}
.english-language .quiz-subject p img{margin-left: 0px; margin-right: 5px;}
.english-language .myquiz-icon{right: auto; left: 10px;}
.english-language .notification-icon{left: auto; right: 0px;}
.english-language .calendar-header button{transform: rotateY(180deg);}
.english-language .radio-group{margin-left: 0px; margin-right: 8px;}
.english-language .quiz-time-wrong{text-align: right;}
.english-language .quiz-question, .english-language .quiz-answer-box, .english-language .answer-options button{text-align: left;}
.english-language .quiz-submit-area h5{left: auto; right: 15px;}
.english-language .validation-pop-content{padding-left: 200px; padding-right: 20px;}
.english-language .validation-pop-content img{right: auto; left: 0px;}
.english-language .quiz-back-btn{right: auto; left: 15%; transform: rotateY(180deg);}
.english-language .answer-options button.highlight::after, 
.english-language .answer-options button.wright-answer::after,
.english-language .answer-options button.wrong-answer::after{left: auto; right: 20px;}
.english-language .quiz-score-left{left: auto; right: 0px; text-align: right;}
.english-language .quiz-score-right, .english-language .removed-lessons ul li::before{right: auto; left: 0px;}
.english-language .quiz-video-close-btn{left: auto; right: 30px;}
.english-language .removed-search-img{left: auto; right: 13%;}
.english-language .removed-lessons ul li{padding-right: 0px; padding-left: 25px;}
.english-language .skill-strength p{text-align: right;}
.english-language .skill-details-icon, .english-language .skill-details .collapsible:after{left: auto; right: 20px;}
.english-language .skill-details .collapsible span{float: right; padding-left: 0px; padding-right: 20px;}
.english-language .skill-details .collapsible{text-align: left;}
.english-language .select-grade.profile-details .point-box{margin: 0 auto;}
.english-language .practice-circle{float: left;}
.english-language .total-practice{float: left; padding-right: 0px; padding-left: 20px;}
.english-language .quiz-challenge h5, .english-language .statistic .quiz-challenge p{padding-right: 0px; padding-left: 60px;}
.english-language .quiz-challenge img{right: auto; left: 30px;}
.english-language .statistic .quiz-challenge button{left: auto; right: 30px;}
.english-language .stats-icon{float: left;}
.english-language .stats-subject{padding-right: 0px; padding-left: 20px;}
.english-language .stats-subject h6{left: auto; right: 0px;}
.english-language .total-practice h6, .english-language .total-practice h4{direction:rtl;}
.english-language .add-student{left: auto; right: 0px;}
.english-language .add-student button{border-radius: 0px; border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
.english-language .add-student-pop i{left: auto; right: 20px;}
.english-language .profile-qr{float: left; line-height: 44px;}
.english-language .profile-qr img{transform: none;}
.english-language .profile-bgm .student-back h6{float: left; padding-left: 14px; padding-right: 0px;}
.english-language .edit-profile{float: right; line-height: 44px;}
.english-language .student-home h6{float: right;}
.english-language .timeline-box button img{ transform: rotateY(180deg);}
.english-language .timeline-box button img{margin-left: 0px; margin-right: 4px;}
.english-language .timeline-box .absent, .english-language .timeline-box .present, .english-language .timeline-box .late{float: right;}
.english-language .subject-details-page .text-left{text-align: right !important;}
.english-language .live-class-details button.preview img{transform: rotateY(180deg);}
.english-language .video-library-subscribed .panel-body li{padding-left: 24px; padding-right: 80px;}
.english-language .video-library-subscribed .panel-body li::before{right: auto; left: 0px;}
.english-language .video-library-subscribed .panel-body li span{left: auto; right: 0px;}
.english-language .video-library-subscribed .panel-body li span img{transform: none;}
.english-language .sub-vid-ico{top: -1px;}
.english-language .subject-notes-box p{padding-left: 0px; padding-right: 90px;}
.english-language .subject-notes-box p span{left: auto; right: 0px;}
.english-language .subject-notes-box h6 span{float: right;}
.english-language .subject-tests-box h6{text-align: right;}
.english-language .play-icon{line-height: 40px;}


@media (max-width: 840px) {
  .video-continue .container{padding-left: 0px; padding-right: 15px;}
}


@media (max-width: 480px) {
  .english-language .dropdown{padding-left: 15px;}
  .liveclass-carousel.owl-carousel .owl-stage, .videorecorder-carousel.owl-carousel .owl-stage,
  .subscribed-carousel.owl-carousel .owl-stage, .activeliveclass-carousel.owl-carousel .owl-stage,
  .liveclass-category.owl-carousel .owl-stage{padding-left: 0px !important;}
  .english-language .video-continue-box{padding-left: 110px; padding-right: 45px;}
  .english-language .profile-point{padding-right: 5px;}
  .english-language .request-private h1, .english-language .request-private-box button{margin-left: 10px;}
  .english-language .checkout-radio{margin-right: 8px;}
  .english-language .back-btn{left: 15px; top: 5px;}
  .english-language  .video-play-list ul li { padding-right: 60px; padding-left: 60px;}
  .english-language .video-rating{text-align: left; margin-right: 0px;}
  .english-language .video-comment-field{width: 80%; margin-right: 8px;}
  .english-language .leaderboard-box-img{border: none; padding-left: 0px;}
  .english-language .leaderboard-box h5{padding-right: 0px;}
  .english-language .leaderboard-box-img img{margin: 0px;}
  .english-language .live-class h1, .english-language .prerecorded h1, .english-language .active-liveclass h3,
  .english-language .my-privateClasses h3{padding-left: 0px; padding-right: 80px;}
  .english-language .quiz-list{padding-left: 80px;}
  .english-language .request-box .file{right: auto; left: 0px;}
  .english-language .quiz-back-btn{left: 5%;}
  .english-language .quiz-time-wrong p, .english-language .quiz-time-right p{font-size: 15px;}
  .english-language .quiz-score-right{left: 10px;}
  .english-language .quiz-score-left{right: 10px;}
  .english-language .rs-lft0{padding-left: 15px; padding-right: 0px;}
  .english-language .removed-search-img{right: -27px;}
  .english-language .student-grade h5{float: left;}
  .english-language .practice-circle{margin-left: 0px; margin-right: 10px;}
  .english-language .practice-view{display: flex;}
  .english-language .quiz-challenge img{left: inherit;}
  .english-language .quiz-challenge h5, .english-language .statistic .quiz-challenge p{padding-left: 0px;}
  .english-language .statistic .quiz-challenge button{right: inherit;}
  .english-language .add-student-pop i{right: 8px;}
  .english-language .student-home{left: auto; right: 10px;}
  .english-language .panel-title > a{padding-left: 10px; padding-right: 40px;}
}


@keyframes Loader {
    0%   { background-position: 100% 0; }
    100% { background-position: 0 0; }
  }
  
  @-webkit-keyframes Loader {
    0%   { background-position: 100% 0; }
    100% { background-position: 0 0; }
  }