
  @media (min-width: 990px) {
    .dropright-lg {position: relative;}
    .dropright-lg .dropdown-menu {  top: 0;  right: auto;  left: 100%;  margin-top: 0;  margin-right: 0.125rem;}
  }

/* Tablet-pro desktop :1024px. */
@media (min-width: 991px) and (max-width: 1024px) {
    #cssmenu #menu-button{top: 0px;}
    .tab-menupad{margin-top: 50px !important;}
    .video-comment-field{width: 58%;}
    .quiz-related-videos-box-img img{height: 130px;}
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    #cssmenu #menu-button{top: 0px;}
    .tab-menupad{margin-top: 30px !important; max-height: 350px; overflow-y: scroll;}
    #cssmenu ul{left: -50%; width: 150%;}
    .cart-icon{position: absolute; right: -270%; top: -42px;}
    .menu-login .cart-icon{right: 75px;}
    .mobile-view{display: block !important;}
    .login-btn{display: none;}
    .menu-login #cssmenu #menu-button{top: -48px;}
    .menu-login #cssmenu ul{left: 0; width: 100%;}
    .dp{position: absolute; top: -50px; left: 15px;}
    .logo{text-align: center;}
    .live-class-details-img{margin-bottom: 20px;}
    .sign-buttton .register-btn{margin-left: 14px;}
    .live-class-details-img img{height: 400px;}
    .validation-pop-content img{max-width: 120px;}
    .validation-pop-content{padding-right: 140px; padding-bottom: 0px;}
    .validation-pop-content h4{font-size: 28px; margin-bottom: 10px;}
}

/* small mobile :767px. */
@media (max-width: 835px) {
    .mobile-view{display: block !important;}
    .login-btn{display: none;}
    .logo{text-align: center;}
    .dp{position: absolute; top: -50px; left: 15px;}
    .live-class-details-img{margin-bottom: 10px;}
    .live-course-sideBox{margin-bottom: 30px;}
    .previous-test button{min-width: 130px;}
    .ad-banner-overlay{width: 40%; padding: 15px;}
    .ad-banner-overlay h1{font-size: 20px;}
    .ad-banner-overlay p{font-size: 12px; margin-bottom: 8px;}
    .bt-secondary{font-size: 14px;}
    .sidebar{height: 94vh;}
    .request-private h1, .request-private-box button{margin-right: 40px;}
    .quiz-number{width: 30px; height: 30px; line-height: 28px; font-size: 12px;}
    .rs-none{display: none;}
    .ds-none{display: inline-block;}
    .my-course-btn{left: 59%; top: 5px;}
    .video-comment-field, .video-rating{margin-left: 5px;}
    .video-comment-field{width: 60%;}
    .video-continue  .container{max-width: 100%; padding-right: 0px;}
    .quiz-congratz-bgm{height: 450px;}
    .quiz-score-right label{font-size: 26px;}
    .quiz-questions-number li{width: 50px; height: 50px; line-height: 50px;}
    .privateclass-carousel .request-box button{ min-width: 70px; transform: inherit; top: inherit; bottom: 8px; left: 8px;}
    .request-box{min-height: 120px;}
    .request-box .file{ margin: 0px; position: absolute; right: 8px; bottom: 8px;}
}

/* small mobile :320px. */
@media (max-width: 767px) {
    h1{font-size: 22px;}
    header{padding: 10px 0px;}
    .fixed img{max-width: 125px;}
    .cart-icon{position: absolute; right: 70px; top: -38px;}
    .fixed .cart-icon{position: absolute; right: 70px; top: -38px;}
    .fixed #cssmenu #menu-button{top: -45px;}
    .mobile-view{display: block;}
    .ad-banner p, p, .bt-secondary, .bt-primary{font-size: 13px;}
    .ad-banner p{display: none;}
    .ad-banner img{height: 230px;}
    .ad-banner-overlay{ width: 60%; left: 5%;}
    .request-private, .live-class, .prerecorded, .my-subscribed-courses, .live-class-details, .video-library-subscribed{padding: 15px 0px;}
    .request-private h1{max-width: 100%; font-size: 14px; margin-bottom: 6px; line-height:24px; margin-right: 10px;}
    footer{padding: 30px 0px;}
    .inner-heading .nav-tabs li a{min-width: 150px; margin: 15px 5px; padding: 8px;}
    .ad-two{margin: 30px 0px; margin-bottom: 5px;}
    .menu-login .logo img{max-width: 130px;}
    .dp{position: absolute; width: 41px; height: 41px; top: -42px; left: 15px;}
    .dp img{max-width: 100%;}
    .live-class-category{padding-bottom: 10px; padding-top: 10px;}
    /* .panel-body ul{padding: 10px;} */
    .pad-bot60{padding-bottom: 30px;}
    .video-library{padding: 0px;}
    .active-liveclass{padding-top: 20px; padding-bottom: 20px;}
    .my-subscribed-courses{padding-bottom: 0px; padding-top: 20px;}
    .bt-secondary{font-size: 10px; padding: 4px 10px;}
    .liveclass-carousel.owl-carousel .owl-stage, .videorecorder-carousel.owl-carousel .owl-stage,
    .subscribed-carousel.owl-carousel .owl-stage, .activeliveclass-carousel.owl-carousel .owl-stage,
    .liveclass-category.owl-carousel .owl-stage{padding-right: 0px !important;}
    .request-private, .live-class{padding-bottom: 0px;}
    .bt-primary{min-width: 130px; padding: 6px 10px;}
    .prerecorded{padding-top: 20px; padding-bottom: 0px;}
    .footer-menu{display: block;}
    #topcontrol{display: none;}
    .live-class h1, .prerecorded h1, .active-liveclass h3, .my-privateClasses h3{padding-left: 80px;}
    .contact-us-section{padding-top: 30px;}
    .skillsubject-carousel.owl-carousel .owl-stage{padding-right: 0px !important;}
    .profile-details .point-box input{padding: 6px 20px 6px 0px; font-size: 16px;}
    .analystic-graph{width: 50px; height: 50px; line-height: 50px; top: -12px;}
    .practice-circle{margin-left: 10px;}
    .leaderboard{padding-top: 30px;}
    .live-course-box-img img{height: 130px;}
    .my-privateClasses{padding-top: 20px; padding-bottom: 0px;}
    .video-library-subscribed .panel-body li .videoPlay-icon{left: 0px; top: 5px;}
    .innerCollapse::before{left: 5px;}
    .videoCount{ top: 6px;}
    .panel-body h5{font-size: 14px; padding-left: 30px;}
    .video-library-subscribed .panel-body li{font-size: 14px; padding: 6px 0px; padding-left: 70px; padding-right: 20px;}
    .main-header .text-center{display: none;}
    .profile-point img{width: 34px; height: 34px;}
    .main-header{padding: 10px 0px;}
    .my-subscribed-courses .col-6, .profile-details .col-6, .subscribed-subjects .col-6{padding: 0px 10px;}
    .request-box{padding: 12px 8px; min-height: 110px;}
    .request-box h6{font-size: 16px;}
    .active-liveclass .live-course-box-content h5{font-size: 15px;}
    .live-course-box-content h6{font-size: 13px;}
    .request-box p{font-size: 13px; line-height: 16px;}
    .quiz-icon2{left: 65px; top: 6px;}
    .book2{top: 8px; left: 45px;}
    .video-library-subscribed .panel-body ul p{font-size: 14px;}
    .profile-bgm{background-size: auto !important;}
    .personal-details img{right: 5px; max-width: 20px;}
    .video-play-list .c100.small{font-size: 30px;}
    .video-play-list .c100 > span{font-size: 10px; line-height: 30px;}
    .notification button{ top: -12px;}
    .notification button.markread{float: right;}
    .notification-box{margin: 15px; margin-top: 0px; padding: 10px;}
    .request-private-box button{margin-right:10px; min-width: 110px; padding: 5px; font-size: 13px; height: 33px;}
    .request-private-box img{height: 100px;}
    .pvt-icon2, .pvt-icon{width: 100px;}
    .quiz-radio{margin-bottom: 10px;}
    .ques-img, .ques-que{width: 100%;}
    .request-private{padding-top: 10px;}
    .my-courses-home{padding-top: 20px; padding-bottom: 0px;}
    .my-course-btn{display: none;}
    .topic-box-img{display: none;}
    .topic-box{padding: 10px; margin-bottom: 10px;}
    .mb-30{margin-bottom: 10px;}
    .live-course-box-img .subscribed-icon, .prerecorded-box-img .subscribed-icon{ left: 5px; top: 5px;}
    .live-course-box-img .subscribed-icon img, .prerecorded-box-img .subscribed-icon img{width: 28px; height: 28px;} 
    .story-popup{max-width: 100%;}
    .story-pop-content .owl-nav .owl-prev{left: 0px;}
    .story-pop-content .owl-nav .owl-next{right: 0px;}
    .story-pop-content .owl-nav .owl-prev, .story-pop-content .owl-nav .owl-next{width: 35px; height: 35px; line-height: 35px; top: 50%;}
    .story-close{width: 35px; height: 35px; line-height: 35px; font-size: 16px; top: -35px;}
    .stories li{width: 90px;}
    .stories-img{width: 60px; height: 60px; border: 2px solid #ddd;}
    .my-courses-home h3{margin-bottom: 15px;}
    .prerecorded-box, .prerecorded-box-img, .prerecorded-box-img img{border-radius: 5px;}
    .notification-day h5{font-size: 16px;}
    .notification{padding: 20px 0px;}
    .quiz-subject h5{font-size: 14px; margin-top: 0px;}
    .quiz-subject p{font-size: 16px;}
    .quiz-list{margin-bottom: 10px; min-height: 80px; padding-right: 80px;}
    .myquiz-icon{width: 60px; height: 60px;}
    .story-content{max-width: 96%;}
    .story-carousel video, .story-carousel img{height: auto;}
    .empty-notification{min-height: 66vh;}
    .empty-notification-content{max-width: 300px;}
    .video-continue  .container{padding-right: 0px;}
    .video-continue-box_img{width: 100px; height: 75px;}
    .video-continue-box{padding-right: 110px; padding-left: 45px;}
    .video-continue-play i{width: 40px; height: 40px; line-height: 39px;}
    .video-continue-box h5{font-size: 14px;}
    .video-continue-box p{font-size: 12px;}
    .video-continue-close{font-size: 15px; left: 2px; top: 2px;}
    .video-continue{height: 75px;}
    .video-continue-play{top: 45%;}
    .request_privateclass{padding: 20px 15px;}
    .send-btn{min-width: auto; width: 100%;}
    .my-profile{padding-top: 20px;}
    .my-profile-box{text-align: center;}
    .my-profile-qr{margin-bottom: 12px;}
    .my-profile-box h1{font-size: 20px;}
    .profile-details .point-box{width: 80%; margin-bottom: 25px;}
    .student-grade{padding: 12px; margin-bottom: 10px; text-align: right;}
    .student-grade h5{float: none;}
    .subscribed-subjects{padding-top: 10px; padding-bottom:0px;}
    .profile-relative-videos{margin-bottom: 20px;}
    .profile-relative-videos-img{height: 100px;}
    .profile-relative-videos-content{padding: 8px;}
    .profile-relative-videos-content p, .profile-relative-videos-content h6{font-size: 11px;}
    .profile-relative-videos-content h5, .profile-relative-videos-content p, .profile-relative-videos-content h6{margin-bottom: 5px;}
    .profile-relative-videos-content h5{font-size: 16px;}
    .profile-relative-videos-content img{width: 18px;}
    .pad-bot80{padding-bottom: 30px;}
    .back-btn{width: 30px; height: 30px; line-height: 32px; right: 15px;}
    .quiz-congratz h1{font-size: 38px; margin-bottom: 20px;}
    .quiz-congratz-circle{width: 130px; height: 130px;}
    .quiz-congratz-circle::before{width: 130px; height: 130px;}
    .quiz-score h2{font-size: 60px;}
    .quiz-score p{font-size: 14px;}
    .gif-bgm{width: 100%;}
    .quiz-congratz-bgm{height: 350px;}
    .quiz-congratz-avatar{margin-top: -120px;}
    .quiz-congratz-avatar img{ transform: scale(1.5);}
    .quiz-congratz-avatar p{margin-top: 15px; font-size: 16px;}
    .quiz-result-title{padding: 12px;}
    .quiz-result-box{margin-top: 0px; margin-bottom: 20px;}
    .quiz-result-title h4{font-size: 22px;}
    .quiz-result-content{padding: 10px;}
    .quiz-result-time img{height: 40px;}
    .quiz-result-time{padding-right: 50px;}
    .quiz-result-time h5, .quiz-result-right h5{font-size: 16px; margin-bottom: 8px;}
    .quiz-result-time h5:last-child{font-size: 20px;}
    .quiz-result-right{padding: 8px;}
    .primary-button{font-size: 18px; height: 50px;}
    .quiz-result-buttons h5{font-size: 16px;}
    .quiz-score-bgm{padding: 30px 0px; min-height: 330px;}
    .quiz-score-title h1{margin-bottom: 30px; font-size: 22px;}
    .quiz-score-left{left: 10px;}
    .quiz-score-right{right: 10px;}
    .quiz-score-right h6, .quiz-score-left h6{font-size: 14px;}
    .quiz-score-right h5, .quiz-score-left h5{font-size: 16px;}
    .quiz-score-right label{font-size: 14px;}
    .quiz-score-bgm .quiz-congratz-circle{width: 110px; height: 110px;}
    .quiz-score-bgm .quiz-congratz-circle::before{width: 110px; height: 110px;}
    .quiz-score-bgm .quiz-score h2{font-size: 48px;}
    .quiz-questions-number li{width: 28px; height: 28px; line-height: 28px; margin: 0px 1px; font-size: 16px;}
    .quiz-questions-number{margin-top: 20px; margin-bottom: 10px;}
    .pad-30{padding: 15px 0px;}
    .result-score{padding: 10px; margin-bottom: 20px; min-height: inherit;}
    .result-score h4{font-size: 16px; margin-bottom: 10px;}
    .result-score p, .result-score ul li, .quiz-related-videos-box-content h5{font-size: 14px;}
    .quiz-related-videos{padding-top: 10px;}
    .quiz-related-videos h3{font-size: 18px;}
    .quiz-related-videos .owl-carousel .owl-stage{padding-right: 0px !important;}
    .quiz-related-videos-box-img img{height: 100px;}
    .quiz-related-videos-box-content{padding: 10px 6px;}
    .video-play-btn{width: 45px; height: 45px; line-height: 45px; font-size: 14px;}
    .video-play-btn::before{width: 55px; height: 55px;}
    .language-swich-circle{width: 35px; height: 35px; line-height: 40px;}
    .language-swich-login label, .new-login label, .new-login input{font-size: 16px;}
    .theme-swich-login label{font-size: 14px;}
    .new-login, .welcome{padding: 30px 0px 50px;}
    .new-login .form-group{margin-bottom: 15px;}
    .new-login .btn-secondary{margin-top: 15px;}
    .new-login h5, .new-login h4{margin-top: 20px; font-size: 16px;}
    .forgot-password{max-width: 350px;}
    .btn-primary, .btn-secondary{height: 50px;}
    .welcome h1{margin-bottom: 20px;}
    .welcome h5{margin-bottom: 30px;}
    .verification-code{padding: 80px 0px;}
    .verification-code h5{margin-bottom: 20px; font-size: 16px;}
    .verification-code button{margin-bottom: 20px;}
    .verification-code h4{font-size: 14px;}
    .my-privateClasses h3 img, .my-subscribed-courses h3 img{max-width: 35px;}
    .select-grade{padding: 20px 0px;}
    .cart-price-box{font-size: 13px;}
    

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .live-class-box{min-height: 330px;}
  
}

@media (max-width: 480px) {
    .prerecorded-box-content{padding: 4px;}
    .prerecorded-box-content h5{font-size: 13px;}
    .prerecorded-box-content p img{max-width: 18px;}
    .prerecorded-box-img img{height: 100px;}
    .prerecorded .col-6{padding: 0px 5px;}
    .owl-nav .owl-next{right: 0px;} .owl-nav .owl-prev{left: 0px;}
    .live-class-details .bt-primary{width: 100%;}
    .live-class-details h3{text-align: center;}
    .panel-title>a{padding: 6px 10px; padding-left: 40px; line-height: 26px; font-size: 15px; }
    .panel-body ul ul li{padding: 5px;}
    .video-library-subscribed .panel-body ul ul li img{left: -8px;}
    .panel-body li{padding: 5px; padding-left: 20px;}
    .ad-banner-overlay h1{font-size: 16px;}
    .video-library-tab .nav-tabs li a{padding: 8px; font-size: 12px; min-width: auto; margin: 5px 0px; border-radius: 5px;}
    .slider-carousel .owl-nav .owl-prev{left: 0px;}
    .slider-carousel .owl-nav .owl-next{ right: 0px;}
    .show-all{top: 8px; font-size: 14px;}
    .video-library-tab .nav-tabs{overflow: auto; white-space: nowrap;}
    .video-library-tab .nav-tabs li{margin: 0px 1px;}
    .previous-test button{min-width: auto;}
    .previous-test button img{margin-right: 4px;}
    .video-library-subscribed .previous-test button{padding: 6px; font-size: 10px;}
    .privateclass-carousel .owl-stage{padding: 0px !important;}
    h3{font-size: 17px;}
    .videoCount{font-size: 14px; border: none; text-align: left;}
    .videoCount img{max-width: 16px;}
    .panel-heading a::before{font-size: 16px; width: 24px; height: 24px; line-height: 24px;}
    .quiz-footer button{width: inherit; margin: 0 auto; display: block; margin-bottom: 8px;}
    .quiz-footer{padding: 10px 0px;}
    .quiz-help{position: absolute; top: -103px; right: 10px;}
    .quiz-back{right: auto; left: 10px;}
    .empty-timeline h5{font-size: 14px;}
    .owl-carousel .owl-stage-outer{padding-bottom: 15px;}
    .min-vh-100 .active-liveclass{padding-top: 15px;}
    .owl-nav .owl-prev, .owl-nav .owl-next{top: 30%;}
    .ad-box-img img, .ad-box-img{height: 150px;}
    .video-rating{width: 100%; text-align: right;}
    .video-comment-field{width: 80%; font-size: 14px;}
    .vidNext{font-size: 18px;}
    .rating-video > label::before{font-size: 12px;}
    .quiz-video-player{max-width: 100%;}
    .quiz-video-close-btn{top: 15px; left: 15px;}
    .audio-record audio, .topic-box audio{width: 100%; max-width: 220px;}
    .topic-box h6{margin: 0px; padding: 0px;}
    .topic-box-attach{left: 10px; font-size: 20px;}
    .removed-lesson-title .col-5, .removed-lesson-title .col-2{padding: 0px 6px !important;}
    .removed-lessons{padding: 30px 0px;}
    .removed-lessons table td{font-size: 10px;}
    .removed-lessons ul li{padding-right: 18px;}
    .removed-lessons table th, .removed-lessons table td{padding: 6px;}
    .removed-lessons table p{font-size: 12px;}
    .inner-heading{padding: 20px 0px;}
    .removed-search-img{left: -27px; max-width: 120px; bottom: 10%;}
    .rs-lft0{padding-left: 0px;}
    .removed-lessons table th{font-size: 12px;}
    .topbar-icons li img{max-width: 24px;}
    .topbar-icons li{padding: 0px 3px;}
    .subject-details-page h1{font-size: 28px;}
    .subject-details-page select{font-size: 16px;}
    .subject-details-tab .nav-tabs li{padding: 10px 4px; font-size: 14px; border-bottom: 6px solid rgba(142, 167, 171, 0.25);}
    .subject-details-tab .nav-tabs li img{max-height: 48px;}
    .subject-details-tab .nav-tabs li.active{border-bottom: 6px solid #0DB2B2;}
    .subject-details-tab{border-top-left-radius: 30px; border-top-right-radius: 30px;}
    .live-course-sideBox-content{padding: 0px 10px;}
    .live-class-details h3{font-size: 24px;}
    .live-class-details h4{font-size: 16px;}
    .live-course-sideBox ul li{font-size: 14px;}
    .live-class-details h2, .video-library-subscribed h2{font-size: 24px;}
    .live-class-details .center-block .panel-body{padding: 6px;}
    .video-library-subscribed .panel-body li span img{max-height: 20px;}
    .subject-notes-box p{font-size: 14px; padding-left: 80px; padding-bottom: 10px; margin-bottom: 10px;}
    .subject-notes-box p span img{max-height: 24px;}
    .subject-notes-box h6{font-size: 16px;}
    .subject-notes-box h6 span img{max-height: 28px;}
    .subject-tests-box p, .subject-tests-box h6{font-size: 14px;}
    .subject-tests-box h6 img{max-height: 24px;}
    .subject-tests-download{padding-bottom: 0px; margin-bottom: 10px;}
    .inner-heading h1{font-size: 26px; padding: 0px 35px; line-height: 42px;}
    .liveclass-category .live-course-box-content h5{min-height: 48px;}
    .quiz-time-questions h2{font-size: 20px; margin-bottom: 10px;}
    .quiz-time-questions{margin-top: 8px;}
    .quiz-time-questions .progress{margin-top: 20px; margin-bottom: 0px;}
    .quiz-time-wrong p, .quiz-time-right p{font-size: 18px;}
    .quiz-time-questions h2 span{font-size: 30px;}
    .quiz-question-box{margin-top: 0px;}
    .quiz-big-image{margin-bottom: 15px;}
    .quiz-question-box p{font-size: 15px;}
    .true-false button{width: 150px; margin-left: 10px; height: 50px;}
    .quiz-answer-box{margin-top: 20px;}
    .quiz-submit-area button{max-width: 230px; height: 50px; }
    .quiz-submit-area h5{font-size: 16px;}
    .validation-pop-content{padding: 10px; padding-right: 140px;}
    .validation-pop-content img{max-width: 130px;}
    .validation-pop-content h4{font-size: 24px; margin-bottom: 10px;}
    .validation-pop-content p{font-size: 14px;}
    .validation-pop button{height: 50px; font-size: 18px;}
    .clearfix2{height: 150px;}
    .home-title h2{font-size: 20px;}
    .home-title h2 img{max-width: 35px;}
    .quiz-back-btn{font-size: 24px; right: 5%; top: 30px;}
    .answer-options button{margin-bottom: 10px;}
    .home-title p{display: none;}
    .stories .owl-stage-outer{padding-bottom: 0px;}
    .dropdown{padding-left: 0px;}
    .active-liveclass h3 img{max-width: 35px;}
    .active-liveclass .live-course-box-content{padding: 8px; min-height: 160px;}
    .my-privateClasses h3{margin-bottom: 8px;}
    .survey-form, .notificationEnable{max-width: 350px;}
    .notificationEnable p{font-size: 14px;}
    .notificationEnable img, .notificationEnable p, .notificationEnable h4, .notificationEnable button{margin-bottom: 10px;}
    .notificationEnable img{max-width: 250px;}
    .notificationEnable h4{font-size: 20px;}
    .notificationEnable h5{font-size: 16px;} 
    .ask-spedia p{font-size: 16px; line-height: 28px;}
    .ask-spedia .form-group{margin-bottom: 15px;}
    


}

@media (max-width: 380px) {
    .leaderboard-box h5{font-size: 12px;}
}


 